jupyter-lsp
python-language-server[all]
pandas
seaborn==0.11.0
matplotlib==3.3.3
statsmodels
scikit-learn
dalex==0.3.0
dython
plotly==4.12.0
plotly-geo==1.0.0
chart-studio==1.0.0
ipywidgets>=7.5
kaleido
plotly-geo==1.0.0
cufflinks
theano-pymc==1.0.11
pymc3==3.10.0
graphviz
rebound
wheel
spiceypy
nose
pylustrator
aquirdturtle_collapsible_headings



